
/* main colours */
$dark-grey: #424242;
$magenta-red: #E0004E;
$yellow: #FFDD00;
$blue: #02A5E0; /* (refine!) */
$text-black: #000000;
$text-grey: #333333;
$shadow-grey: #666666;



$media-desktop : "max-width: 1919";
$media-tablet : "max-width: 1280px";
$media-phone : "max-width: 860px";

